<html>
    <body>
        <center>
            <h1>Selamat Belanja di SuSGStore</h1>

            <div>
                <a href="/login"><button>login</button></a>
                <a href="/register"><button>Register</button></a>
            </div>
        </center>
    </body>
</html>