<html>
    <body>
        <h1>SUSGSTORE TOPUP</h1>

        <form action="buyer/product/wallet", method="post">
            <Label>Balance</Label><br><br>
            <select name="accountBalance">
                <option selected disabled>Pilih Nominal TopUp</option>
                <option value="100">100</option>
                <option value="300">300</option>
                <option value="500">500</option>
                <option value="700">700</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
            </select><br><br>
            <button type="submit">Buy</button>
            <a href="buyer/product"><button type="button">Cancel</button></a>
        </form>
    </body>
</html>